<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328675745961-m38b0v81gfuafsijcovae3j13r4c4pgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328675745961-m38b0v81gfuafsijcovae3j13r4c4pgp</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Yr5XI3-MNt5QebpQpFd2koBT8xp9DK0</string>
	<key>GCM_SENDER_ID</key>
	<string>328675745961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brianlee.Rice</string>
	<key>PROJECT_ID</key>
	<string>rice-610de</string>
	<key>STORAGE_BUCKET</key>
	<string>rice-610de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328675745961:ios:0b8403e76a668022a849b8</string>
	<key>DATABASE_URL</key>
	<string>https://rice-610de.firebaseio.com</string>
</dict>
</plist>